{% extends 'main.html' %}
{% block title %}Meu Título Personalizado{% endblock %}



{% block content %}   
<!-- Conteúdo específico do template filho -->
<!-- Aqui você pode incluir os gráficos e outros elementos -->    


<p>Fonte dos dados</p>
<a href="https://data.worldbank.org/indicator/EN.ATM.CO2E.KT?contextual=default&end=2019&start=1990&view=chart">CO2</a>
<a href="http://terrabrasilis.dpi.inpe.br/app/dashboard/alerts/legal/amazon/aggregated/">Desmatamento</a>
<a href="https://www.kaggle.com/code/henriqueosinski/eda-temperatura-casos-de-dengue-e-chuvas">temperatura</a>

{% endblock content %}   
