{% extends 'main.html' %}
{% load static %}   
{% block title %}Meu Título Personalizado{% endblock %}



{% block content %}   
<!-- Conteúdo específico do template filho -->
<!-- Aqui você pode incluir os gráficos e outros elementos -->    
<center><h1>Trabalho final de Visualização de dados</h1>
    <div id="primeiro_paragrafo">
        <br>
        <p>
            As mudanças climáticas são um dos maiores desafios enfrentados pela humanidade atualmente. Elas são causadas principalmente pelo aumento das concentrações de gases de efeito estufa na atmosfera, resultantes das atividades humanas, como a queima de combustíveis fósseis, o desmatamento e o desflorestamento.
        </div>
        </p>
    </div>
    <br>
    <p>
        Um dos principais contribuintes para as mudanças climáticas é a emissão de dióxido de carbono (CO2) na atmosfera. O CO2 é liberado principalmente pela queima de combustíveis fósseis, como carvão, petróleo e gás natural, para gerar energia, transporte e processos industriais. Essas emissões são responsáveis pelo aumento do efeito estufa, que causa o aquecimento do planeta.
        {{barras|safe}}
        

A emissão de CO2 no Brasil é um tema relevante no contexto das mudanças climáticas. O país é um dos maiores emissores globais de gases de efeito estufa, sendo o desmatamento a principal fonte de emissões, seguido pela queima de combustíveis fósseis na indústria e transporte. Apesar disso, o Brasil possui uma matriz energética relativamente limpa, com destaque para a geração de eletricidade a partir de fontes renováveis. O país tem buscado implementar políticas e medidas para reduzir as emissões, como a conservação florestal e o estímulo às energias renováveis. No entanto, a cooperação internacional e esforços globais são essenciais para enfrentar o desafio das emissões de CO2 e combater as mudanças climáticas.
{{ co2|safe }}

        Além das emissões de CO2, o desmatamento das florestas também impacta diretamente nas mudanças climáticas. As florestas atuam como sumidouros de carbono, absorvendo o CO2 da atmosfera por meio do processo de fotossíntese. No entanto, quando as árvores são cortadas ou queimadas, o carbono armazenado nelas é liberado de volta à atmosfera, contribuindo para o aumento das concentrações de CO2.
        {{ desmatamento_brazil|safe }}
    </p></center>
    

    <div id="co2">
     <p>Além de todos os maleficícios que a emissão crescente de CO2 gera na atmosfera, a alta constante no desmatamento florestal é também um fator muito preocupante, pois as florestas possuem diversos papeis importantes para a o planeta, sendo um agente que ajuda a decompor o CO2 na atmosfera, regular a temperatura e também para reter umidade e gerar mais preciptações no ambiente</p></div>
     {{ temperatura|safe }}



<div id="conclusao">Para evitar a mudança climática e reduzir os impactos das emissões de gases de efeito estufa, são necessários esforços em várias frentes. Aqui estão alguns passos importantes para enfrentar esse desafio:

    Transição para energias renováveis: Promover a adoção de fontes de energia limpas e renováveis, como solar, eólica, hidrelétrica e biomassa. Investir em tecnologias que melhorem a eficiência energética e reduzam a dependência de combustíveis fósseis.
    
    Eficiência energética: Implementar medidas para melhorar a eficiência no consumo de energia em residências, edifícios comerciais, indústrias e transportes. Isso pode ser alcançado por meio de políticas de eficiência energética, padrões de consumo consciente e adoção de tecnologias mais eficientes.
    
    Conservação de florestas: Preservar e restaurar ecossistemas florestais, como florestas tropicais, que têm um papel crucial na absorção de CO2 e na regulação do clima. Reduzir o desmatamento e implementar práticas sustentáveis de gestão florestal.
    
    Transporte sustentável: Promover o uso de transporte público, incentivar a mobilidade ativa (caminhada e bicicleta) e adotar veículos de baixa emissão ou veículos elétricos. Investir em infraestrutura para veículos elétricos e desenvolver sistemas de transporte inteligentes e eficientes.
    
    Agricultura sustentável: Apoiar práticas agrícolas sustentáveis, como a agricultura de conservação, o manejo adequado de fertilizantes e a redução das emissões de metano provenientes da pecuária. Investir em pesquisa e tecnologia para melhorar a eficiência agrícola e reduzir o desperdício de alimentos.
    
    Educação e conscientização: Promover a conscientização sobre as mudanças climáticas e a importância de ações individuais e coletivas. Educar as pessoas sobre a importância de reduzir o consumo excessivo, reciclar, reutilizar recursos e adotar estilos de vida mais sustentáveis.
    
    Políticas e acordos internacionais: Apoiar e implementar acordos internacionais, como o Acordo de Paris, que estabelecem metas e compromissos para reduzir as emissões de gases de efeito estufa. Desenvolver políticas nacionais ambiciosas que incentivem a mitigação das mudanças climáticas e promovam a transição para uma economia de baixo carbono.
    
    É importante ressaltar que essas ações devem ser adotadas em conjunto por governos, setor privado, sociedade civil e indivíduos para alcançar um impacto significativo na redução das emissões de gases de efeito estufa e na mitigação das mudanças climáticas.</div>
  
        
    
   
    
    

{% endblock content %}
